<ion-header-bar class="bar-balanced bar bar-header disable-user-behavior" align-title="center">
    <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item"><i class="icon ion-ios-arrow-back"></i>
        <span class="back-text" style="transform: translate3d(0px, 0px, 0px);"><span class="default-title hide">Back</span><span class="previous-title">Chat</span></span>
    </button>
    <div class="title title-center header-item" style="transform: translate3d(0px, 0px, 0px); left: 67px; right: 67px;">{{datos.name}}</div>
    <div class="buttons buttons-right"><span class="right-buttons">
    <button class="button button-clear"><img class="header-picture" width="35" height="auto" style="border-radius: 50px" ng-src="{{datos.imagen}}"></button>
  </span></div>
</ion-header-bar>


<ion-content style="background: url(img/playa.jpg) center; background-size: cover;" class="chat" delegate-handle="chatScroll">
    <div class="message-list">

        <div ng-repeat="message in currentConversation.messages" class="message-wrapper">
            <div class="message" ng-class="{ 'message-mine': message.me, 'message-other': !message.me }">
                <div class="message-text">{{message.text}}</div>
                <i ng-show="message.ticks[0]" style="float: right; color: green" class="fa fa-check"></i>
                <i ng-show="message.ticks[1]" style="float: right; color: green" class="fa fa-check"></i>
                <i ng-show="message.ticks[2]" style="float: right; color: blue" class="fa fa-check"></i>
                <i ng-show="message.ticks[3]" style="float: right; color: blue" class="fa fa-check"></i>
                <i ng-show="message.ticks[4]" style="float: right; color: red" class="fa fa-times"></i>
            </div>
        </div>

        <!--<div class="message-wrapper">
            <div class="message message-other">
                <div class="message-text">Como va el martes a las 17:00 para jugar?</div>
            </div>
        </div>
        <div class="message-wrapper">
            <div class="message message-mine">
                <div class="message-text">Perfecto me va genial</div>
            </div>
        </div>-->

    </div>
</ion-content>
<ion-footer-bar keyboard-attach class="bar-stable footer-chat item-input-inset" novalidate>
    <label class="item-input-wrapper">
        <input ng-model="chat.message" dir="auto" type="text" />
    </label>

    <span ng-if="chat.message.length > 0">
        <div class="footer-btn-wrap">
            <button class="button button-icon icon ion-android-send footer-btn" type="submit" ng-click="EnviarMensaje()">
            </button>
        </div>
    </span>
    <span ng-if="!chat.message || chat.message.length === 0">
      <button class="button button-clear button-icon button-positive icon ion-ios-camera-outline"></button>
      <i class="buttons-seperator icon ion-android-more-vertical"></i>
      <button class="button button-clear button-icon button-positive icon ion-ios-mic-outline"></button>
    </span>
</ion-footer-bar>