<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/rsa.jpg" width="100%" height="auto">
        </div>
        <div class="spacer" style="width: 283px; height: 50px;"></div>
        <form class="list">
            <label class="item item-input" name="username">
                <input type="text" placeholder="User">
            </label>
            <label class="item item-input" name="password">
                <input type="password" placeholder="Password">
            </label>
        </form>
        <div class="spacer" style="width: 283px; height: 30px;"></div>
        <a ui-sref="menu.perfil" id="login-button1" class="button button-balanced  button-block">Login</a>
        <div class="button-bar">
            <button id="login-button2" class="button button-calm  button-block button-outline icon-left ion-social-facebook">Facebook</button>
            <button id="login-button4" class="button button-positive  button-block icon-right ion-social-twitter">Twitter</button>
        </div>
    </ion-content>
</ion-view>