<ion-view title="Perfil">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/adri.jpg" width="50%" height="auto">
        </div>
        <h3>AdriCouci</h3>
        <div>
            <p>País: Andorra</p>
        </div>
        <div>
            <p>Cofundador y CEO de Bareando</p>
        </div>
        <div>
            <p>Ingeniero Telemático</p>
        </div>
        <div class="spacer" style="width: 283px; height: 22px;"></div>
        <h4>AMIGOS</h4>
        <div style="text-align:center;">
            <img src="img/amigos.jpg" width="100%" height="auto">
        </div>
    </ion-content>
</ion-view>